# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2024 Tobias Hienzsch

Checks: >
  *-,

  bugprone-*,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-exception-escape,
  -bugprone-macro-parentheses,
  -bugprone-narrowing-conversions,
  -bugprone-signed-char-misuse,

  cert-*,
  -cert-dcl03-c,
  -cert-err33-c,
  -cert-err58-cpp,
  -cert-oop54-cpp,
  -cert-str34-c,

  clang-analyzer-*,
  clang-diagnostics-*,

  concurrency-*,
  -concurrency-mt-unsafe,

  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-narrowing-conversions,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-owning-memory,

  hicpp-*,
  -hicpp-no-array-decay,
  -hicpp-signed-bitwise,

  misc-*,
  -misc-confusable-identifiers,
  -misc-include-cleaner,
  -misc-use-anonymous-namespace,

  modernize-*,
  performance-*,

  readability-*,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-identifier-naming,
  -readability-magic-numbers,

  -*-avoid-c-arrays,
  -*-no-malloc,
  -*-non-private-member-variables-in-classes,
  -*-special-member-functions,
  -*-static-assert,
  -*-vararg,

WarningsAsErrors: "*"
FormatStyle: none
CheckOptions:
  - key: bugprone-easily-swappable-parameters.MinimumLength
    value: 4
  - key: cppcoreguidelines-avoid-do-while.IgnoreMacros
    value: true
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.ClassMemberCase
    value: camelBack
  - key: readability-identifier-naming.ClassConstantCase
    value: camelBack
  - key: readability-identifier-naming.PrivateMemberPrefix
    value: _
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.GlobalConstantCase
    value: CamelCase
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: 1
  - key: readability-identifier-naming.ParameterCase
    value: camelBack
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: camelBack
